<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.suda.datetimewallpaper">

    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:networkSecurityConfig="@xml/http"
            android:theme="@style/AppTheme">

        <activity
                android:name=".ui.HomeActivity"
                android:label="@string/title_activity_home"
                android:launchMode="singleTask"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.SetViewActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.Full">
        </activity>
        <activity
                android:name=".ui.about.AboutActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.MaterialAboutActivity"/>
        <activity
                android:name=".ui.about.LicenseActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.MaterialAboutActivity"/>
        <activity
                android:name=".ui.SettingsActivity"
                android:label="@string/title_activity_settings"
                android:screenOrientation="portrait"/>
        <activity android:name=".ui.WebActivity"
                  android:label="@string/title_activity_import_net"
                  android:screenOrientation="portrait"/>
        <service
                android:name=".service.LiveWallPaperService"
                android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>

            <meta-data
                    android:name="android.service.wallpaper"
                    android:resource="@xml/my_wallpaper"/>
        </service>
        <service
                android:name=".service.DateTimeDreamService"
                android:exported="true"
                android:icon="@mipmap/ic_launcher"
                android:label="@string/app_name"
                android:permission="android.permission.BIND_DREAM_SERVICE">
            <intent-filter>
                <action android:name="android.service.dreams.DreamService"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>

        <meta-data
                android:name="UMENG_APPKEY"
                android:value="5cb1f7923fc1953e500012b0"/>
        <meta-data
                android:name="UMENG_CHANNEL"
                android:value="KUAN"/>
    </application>

</manifest>